@import '../../assets/variables';

.input {
  &__element {
    border: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    &:focus-visible {
      border: 2px solid $dark-green-color;
      outline-offset: 0px;
      outline: none;
    }
  }
}
