@import '../../assets/variables';

.current-chat {
  background-color: $middle-grey-color;
  border-radius: 0 16px 16px 0;
  width: 100%;
  padding: 16px;
  @include shadow-inside;
  
  &__text {
    font-size: 24px;
    font-weight: normal;
    color: $dark-grey-color;
    margin: 0;
  }
}
  