@import '../../assets/variables';

.avatar {
  height: 80px;
  width: 80px;
  @include shadow-small;
  border-radius: 50%;
  background: $middle-beige-color;
  flex-shrink: 0;
  object-fit: contain;

  &__big {
    height: 160px;
    width: 160px;
  }
}